#charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #EED9C5, #EEC4A5);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #b6957d;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F09204;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(170, 104, 4, 0.774);
}

h2 {
    color: #0F5186;
}

p {
    text-align: justify;
}